<h1>Top Channels</h1>

<h4>Search by Name:</h4>
<%= form_tag(channels_path, method: :get) do%>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>

<br>

<p class="sort"><%= link_to "Sort All Channels Alphabetically", channels_path(sort_by: "name") %></p>

<div class="container3">
  <ul>
    <%@channels_search.each do |channel|%>
    <li>
      <div class="bottom">
        <a href=<%=channel_path(channel)%>>
          <img class="channel-box-art" src="<%=channel.box_art%>" alt="Smiley face">
        </a>
        <img class="channel-logo" src="<%=channel.logo_url%>" alt="Smiley face" width=40px height=40px>
        <b><%=link_to channel.name, channel_path(channel)%></b>
        <%= @languages.find(channel.language_id).name %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
