<h1>Top Channels</h1>

<h3>Search by Name:</h3>
<%= form_tag(channels_path, method: :get) do%>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>
<br>
<%= link_to "Channels Sorted Alphabetically", channels_path(sort_by: "name") %>

<div class="container3">
  <ul>
    <%@channels_search.each do |channel|%>
    <li>
      <div class="bottom"><%=link_to channel.name, channel_path(channel)%><img class="channel-box-art" src="<%=channel.box_art%>"alt="Smiley face"></div>
    </li>
    <% end %>
  </ul>
</div>
