<h1>Login</h1>

<% if flash[:message] %>
<br>
<h4 class="flash-msg"><%= flash[:message] %></h4>
<% end %>


<%= form_tag(login_path, {:class => 'login'}) do %>
 <%= label :session, :username %>
 <%= text_field :session, :username, class: 'text-input-box' %>
 <br>
 <%= label :session, :password %>
 <%= password_field :session, :password, class: 'text-input-box' %>
 <br>
 <%= submit_tag("Log in", class: "btn btn-large btn-primary") %>
<% end %>

