<h1>Update <%=@user.username%>'s Profile</h1>
<h3><% if flash[:updated]%>
<%=flash[:updated]%>
<%end%></h3>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.label :language_id%>
  <%= f.collection_select(:language_id, @languages, :id, :name, prompt: true)%>
  <br>
  <%= f.submit "Update",class: "btn btn-large btn-primary" %>
<% end %>
<br>
<%= button_to "Delete My Account", profile_path(@user), class: "btn btn-danger", :method=> "delete", data: { confirm: "Are you sure?"}%>