<h1>Update <%=@user.username%>'s Profile</h1>
<% if flash[:message]%>
<h4 class="flash-msg"><%=flash[:message]%></h4>
<%end%>

<%= form_for @user do |f| %>
<div class="form-divider">
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>
  <div class="form-divider">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
  <div class="form-divider">
  <%= f.label :language_id%>
  <%= f.collection_select(:language_id, @languages, :id, :name, prompt: true)%>
</div>
  <div class="form-divider">
  <%= f.label "Profile Photo" %>
  <%= f.file_field :avatar %>
</div>
  <div class="form-divider center-btn">
  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
</div>
<% end %>

<br>
<br>
<%= button_to "Delete My Account", profile_path(@user), class: "btn btn-danger delete-account", :method=> "delete", data: { confirm: "Are you sure you want to delete your account? This action cannot be reversed."}%>
