<h1>Sign Up</h1>

<% if flash[:message] %>
<br>
<%= flash[:message] %>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.label :language_id %>
  <%= f.collection_select(:language_id, @languages, :id, :name, prompt: true)%>
  <br>
  <%= f.submit("Sign up", class: "btn btn-large btn-primary") %>
<% end %>
