<h1>Hello, <%= @user.username %></h1>
<h2>Language: <%= @user.language.name %></h2>


<h1>My Subscribed Streams</h1>
<div class="container4">
<ul>
  <% @user.channels.each do |channel| %>
    <li>
      <div class="bottom"><%= link_to channel.name, channel_path(channel) %><img class="channel-box-art" src="<%=channel.box_art%>" alt="Smiley face"></div>
    </li>
  <% end %>
</ul>
</div>

<br>
<br>

<h1> Recommended Streams For Your Language </h1>

<div class="container4">
  <ul>
    <%@user.recommendChannel.each do |channel|%>
    <li>
      <div class="bottom"><%=link_to channel.name, channel_path(channel)%><img class="channel-box-art" src="<%=channel.box_art%>" alt="Smiley face"></div>
    </li>
    <%end%>
  </ul>
</div>

<br>
<br>

<h1> Recommended Streams Based On Your Subscriptions</h1>

<% if @user.subscriptions.empty? %>
  <h2> No subscriptions yet. Go subscribe! </h2>
<% else %>
<div class="container4">
  <ul>
    <%@user.recommendChannelSubscription.each do |channel|%>
    <li>
      <div class="bottom"><%=link_to channel.name, channel_path(channel)%><img class="channel-box-art" src="<%=channel.box_art%>" alt="Smiley face"></div>
    </li>
    <%end%>
  </ul>
</div>
<% end %>

<% if @user.id == session[:user_id] %>
<%= link_to "Settings", edit_path(@user), method: :get%>
<% end %>
