<%if @user.id == session[:user_id]%>
<h1 >Hello, <span class="purple"><%= @user.username %>!</span>
<%else%>
<h1>Welcome to <%= @user.username %>'s Page!</h1>
<%end%>
<h2>Language:
<% @languages.each do |language| %>
  <% if language.id == @user.language_id %>
    <%= language.name %>
  <% end %>
<% end %>
</h2>
<%if @user != @main%>
  <%if @main.friendships.exclude?(@user)%>
  <%=button_to "Follow!", { action: "buddy", id: @user.id, class: "btn btn-primary" },
                                method: :post%>
  <%else%>
  <%=button_to "Unfollow!", { action: "buddy", id: @user.id },
                                method: :post%>
  <%end%>
<%end%>

<br>


<br>
<% if @user.subscriptions.empty? %>
  <h4 id="subscription">There are no subscriptions yet.</h4>
<% else %>
  <%if @user.id == session[:user_id]%>
  <h1 class="purple">My Subscribed Streams</h1>
  <%else%>
  <h1 class="purple">Their Subscribed Streams</h1>
  <%end%>
  <div class="container4">
  <ul>
    <% @user.channels.each do |channel| %>
      <li>
        <div class="bottom">
          <a href=<%=channel_path(channel)%>>
            <img class="channel-box-art" src="<%=channel.box_art%>" alt="Smiley face">
          </a>
          <img class="channel-logo" src="<%=channel.logo_url%>" alt="Smiley face" width=30px height=30px>
          <%= link_to channel.name, channel_path(channel) %>
        </div>
      </li>
    <% end %>
  </ul>
  </div>
<% end %>



<br>
<br>

<%if @user.id == session[:user_id]%>
  <h1 class="purple"> Recommended Streams In <%= @user.language.name %> </h1>

  <% if @user.rec_channels_by_lang.empty? %>
    <h2> No current streamers speak that language, sorry :(</h2>
  <% else %>
  <div class="container4">
    <ul>
      <%@user.rec_channels_by_lang.each do |channel|%>
      <li>
        <div class="bottom">
          <a href=<%=channel_path(channel)%>>
            <img class="channel-box-art" src="<%=channel.box_art%>" alt="Smiley face">
          </a>
          <img class="channel-logo" src="<%=channel.logo_url%>" alt="Smiley face" width=30px height=30px>
          <%=link_to channel.name, channel_path(channel)%>
        </div>
      </li>
      <%end%>
    </ul>
  </div>
  <% end %>

  <br>
  <br>



  <% if !@user.subscriptions.empty? %>

  <h1 class="purple"> Recommended Streams Based On Your Subscriptions</h1>
  <div class="container4">
    <ul>
      <%@user.rec_channels_by_sub.each do |channel|%>
      <li>
        <div class="bottom">
          <a href=<%=channel_path(channel)%>>
            <img class="channel-box-art" src="<%=channel.box_art%>" alt="Smiley face">
          </a>
          <img class="channel-logo" src="<%=channel.logo_url%>" alt="Smiley face" width=30px height=30px>
          <%=link_to channel.name, channel_path(channel)%>
        </div>
      </li>
      <%end%>
    </ul>
  </div>
  <% end %>
<% end %>
<br>

<%if @user.id == session[:user_id]%>
  <h1 class="purple">My Followings</h1>
  <% if !@user.friendships.empty? %>
    <ul class="center-list">
    <h4 class="center-list"><%@user.friendships.each do |friend|%>
      <%=link_to friend.username, profile_path(friend)%></h4>
    <%end%>
  </ul>
<% else %>
  <h4 class="center-list">Start following <%=link_to "Users", '/users'%></h4>
<% end %>

<% end %>

