<h1><%= @user.username %>'s Page</h1>
<h2>Language: <%= @user.language.name %></h2>
<!--ignoring language display for now-->

<h1>Your Subscribed Streams:</h1>
<ul>

    <% @user.channels.each do |channel| %>
        <li>
            <%= link_to channel.name, channel_path(channel) %>
        </li>
    <% end %>

</ul>
<br>
<br>

<h2> Recommend Streams For Your Language: </h2>

<ul>
<%@user.recommendChannel.each do |channel|%>
   <li><%=link_to channel.name, channel_path(channel)%></li>
   <%end%>
</ul>

<br>
<br>

<% if @user.id == session[:user_id] %>
<%= button_to "Edit", edit_path(@user), method: :get%>
<%= button_to "Return To All Users", "/users", method: :get %>
<%= button_to "Delete User", profile_path(@user), :method=> "delete" %>
<%= button_to "Logout", "/logout", :method=> "delete" %>
<% end %>
