<h1>Hello, <%= @user.username %></h1>
<h2>Language: <%= @user.language.name %></h2>


<h1>My Subscribed Streams</h1>
<ul>

    <% @user.channels.each do |channel| %>
        <li>
            <%= link_to channel.name, channel_path(channel) %>
        </li>
    <% end %>

</ul>
<br>
<br>

<h1> Recommended Streams For Your Language </h1>

<ul>
<%@user.recommendChannel.each do |channel|%>
   <li><%=link_to channel.name, channel_path(channel)%></li>
   <%end%>
</ul>

<br>
<br>

<% if @user.id == session[:user_id] %>
<%= link_to "Settings", edit_path(@user), method: :get%>
<% end %>
