<h1>Hello, <%= @user.username %></h1>
<h2>Language:
<% @languages.each do |language| %>
  <% if language.id == @user.language_id %>
    <%= language.name %>
  <% end %>
<% end %>
</h2>


<h1>My Subscribed Streams</h1>
<div class="container4">
<ul>
  <% @user.channels.each do |channel| %>
    <li>
      <div class="bottom">
        <a href=<%=channel_path(channel)%>>
          <img class="channel-box-art" src="<%=channel.box_art%>" alt="Smiley face">
        </a>
        <img class="channel-logo" src="<%=channel.logo_url%>" alt="Smiley face" width=30px height=30px>
        <%= link_to channel.name, channel_path(channel) %>
      </div>
    </li>
  <% end %>
</ul>
</div>

<br>
<br>

<h1> Recommended Streams For Your Language </h1>

<% if @user.rec_channels_by_lang.empty? %>
  <h2> No current streamers speak that language, sorry :(</h2>
<% else %>
<div class="container4">
  <ul>
    <%@user.rec_channels_by_lang.each do |channel|%>
    <li>
      <div class="bottom">
        <a href=<%=channel_path(channel)%>>
          <img class="channel-box-art" src="<%=channel.box_art%>" alt="Smiley face">
        </a>
        <img class="channel-logo" src="<%=channel.logo_url%>" alt="Smiley face" width=30px height=30px>
        <%=link_to channel.name, channel_path(channel)%>
      </div>
    </li>
    <%end%>
  </ul>
</div>
<% end %>

<br>
<br>

<h1> Recommended Streams Based On Your Subscriptions</h1>

<% if @user.subscriptions.empty? %>
  <h2> No subscriptions yet. Go subscribe! </h2>
<% else %>
<div class="container4">
  <ul>
    <%@user.rec_channels_by_sub.each do |channel|%>
    <li>
      <div class="bottom">
        <a href=<%=channel_path(channel)%>>
          <img class="channel-box-art" src="<%=channel.box_art%>" alt="Smiley face">
        </a>
        <img class="channel-logo" src="<%=channel.logo_url%>" alt="Smiley face" width=30px height=30px>
        <%=link_to channel.name, channel_path(channel)%>
      </div>
    </li>
    <%end%>
  </ul>
</div>
<% end %>
