<h1><%= @user.username %>'s Page</h1>
<h2>Encrypted Password: <%= @user.password_digest %></h2>
<!--ignoring language display for now-->

<h1>Your streams:</h1>

<br>
<br>

<%= button_to "Edit", edit_path(@user), method: :get%>
<br>
<%= button_to "Return To All Users", "/users", method: :get %>
<%= button_to "Delete User", profile_path(@user), :method=> "delete" %>
<%= button_to "Logout", "/logout", :method=> "delete" %>
