<h1>Top Games</h1>

<h4>Search by Name:</h4>
<%= form_tag(games_path, method: :get) do%>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>
<br>
<%= link_to "Games Sorted Alphabetially", games_path(sort_by: "name") %>

<div class="container2">
  <ul>
    <%@game_search.each do |game|%>
      <% if game.name.length < 25 %>
        <li>
          <div class="bottom"><%=link_to game.name, game_path(game)%><img class="game-box-art" src="<%=game.box_art%>"alt="Smiley face"></div>
        </li>
      <% else %>
        <li>
          <div class="bottom"><%=link_to game.name[0..25].split(' ').map {|word| word.capitalize}.join(' '), game_path(game)%><img class="game-box-art" src="<%=game.box_art%>"alt="Smiley face"></div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
