<footer class="footer">
  <small>
    The <a href="">Our Twitch</a>
    by <a href="">Us</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Pizza", "#"%></li>
      <li><%= link_to "Cows", '#' %></li>
      <li><%= link_to "Dinos", '#' %></li>
      <li><%= link_to "Twitch", "https://www.twitch.tv/", :target => "_blank" %>
</li>
    </ul>
  </nav>
</footer>

