<footer class="footer">
  <small>
    The <a href="">Our Twitch</a>
    by <a href="">Us</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Pizza", "https://en.wikipedia.org/wiki/Pizza", :target => "_blank"%></li>
      <li><%= link_to "Cows", 'https://www.humanesociety.org/animals/cows', :target => "_blank"%></li>
      <li><%= link_to "Dinos", 'https://dinosaurworld.com/', :target => "_blank" %></li>
      <li><%= link_to "Twitch", "https://www.twitch.tv/", :target => "_blank" %>
</li>
    </ul>
  </nav>
</footer>

