<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "OUR.Twitch", '/', id: "logo" %>
    <br>
      <nav>
        <ul class="nav navbar-nav navbar-right">
            <li><br></li>
            <%if logged_in?%>
            <li>
            <%= link_to "Profile", profile_path(session[:user_id]) %>
            </li>
            <li>
            <%= link_to "Settings", edit_path(session[:user_id]), method: :get%>
            </li>
            <li>
            <%= link_to "Logout", "/logout", :method=> "delete" %>
            </li>
            <%else%>
            <li><%= link_to "Sign up", '/signup' %></li>
            <li><%= link_to "Log in", '/login' %></li>
            <%end%>
        </ul>
      </nav>
       <div class="below-header">
          <ul>
            <a><%= link_to "Channels", '/channels' %></a>
            <a><%= link_to "Games", '/games' %></a>
            <a><%= link_to "Followers", "/users" %></a>
          </ul>
        </div>
  </div>
</header>


